body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}
.footer{
  padding: 50px;
  border-top: 1px solid grey;
  
}
header{
  padding: 10px 0;
  background: silver;
  text-align: left;
}